@charset "utf-8";

/* 콘텐츠 영역 */
.cont01 {
  width: 100%;
  height: 900px;
  position: relative;
}

.cont01_left {
  border-right: 1px solid #ccc;
  width: 400px;
  height: 900px;
  font-size: 14px;
  position: absolute;
  left: 0;
  background-image: url("../image/about_cont01_ba.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 700px;
}

.cont01_left>p {
  text-align: center;
  font-size: 18px;
}

.cont01_left_title {
  font-size: 20px;
  border-bottom: 1px dotted #333;
  font-weight: bold;
  width: 90%;
}

.cont01_left>p:first-child {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: 40px auto 20px auto;
  background-color: #f68472;
}

.cont01_left>p>img {
  width: 150px;
}

.cont01_left>ul {
  padding-left: 40px;
}

.cont01_left>ul:last-child {
  padding-top: 15px;
}

.cont01_left>ul>li {
  line-height: 40px;
}

.cont01_right {
  width: 76%;
  height: 900px;
  font-size: 14px;
  position: absolute;
  padding: 40px;
  left: 400px;
}

.cont01_right>ul>li:first-child {
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: bold;
}

.progressbar-title>p {
  display: inline-block;
  font-weight: bold;
}

.percent {
  position: absolute;
  left: 75%;
}

.progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
}

.progress01,
.progress03,
.progress02,
.progress04 {
  background-color: #335dff;
}

.progress05,
.progress06,
.progress07,
.progress08 {
  background-color: #f68472;
}

.bar-container {
  border: 1px solid #ccc;
  position: relative;
  width: 80%;
  height: 20px;
  margin-bottom: 20px;
  display: block;
}

.software_skill {
  padding-bottom: 20px;
}

.history li {
  font-size: 17px;
  line-height: 25px;
}