@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul,
li {
    list-style: none;
}

img {
    border: 0px;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: 'NanumSquare', sans-serif;
    color: #333;
    font-size: 12px;
    /*    overflow-x: hidden;*/
}