@charset "utf-8";

section {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  padding-left: 230px;
}

section img {
  position: absolute;
  width: 25%;
}

section img:first-child {
  width: 45%;
  left: 0%;
  bottom: -25%;
}

section img:nth-child(2) {
  right: 0;
  bottom: 0;
}

.ba_tast {
  width: 90%;
}

.visual h2 {
  width: 100%;
  height: 50px;
  font-size: 40px;
}
