@charset "utf-8";

section {
  width: 100%;
  padding-left: 230px;
  width: 100%;
  height: 400px;
}

.visual {
  width: 100%;
  padding: 20px;
  background-color: darkgray;
}

.visual h2 {
  width: 100%;
  height: 50px;
  font-size: 40px;
}